<ion-view view-title="Events">

<ion-content class="padding">

  <div class="card">
    <label class="item item-input">
        <i class="icon ion-search padding-ri"></i>
         <input class="padding-left" type="text" placeholder="Search">
    </label>
  </div>

  <div class="events">
    <div class="card">
      <div class="item item-divider">
         DJ Samy Chelly
      </div>
      <div class="item item-image">
          <img src="http://placehold.it/600X250" alt="img event">
      </div>
      <div class="list">
        <span class="item">
          <i class="icon ion-ios-location"></i>
            Sindbad Hotel
        </span>
        <span class="item">
          <i class="icon ion-ios-calendar"></i>
          18 Juillet 2015
        </span>
        <span class="item item-body">
          Cu est fierent assentior liberavisse.
          Vituperata assueverit in mel. Sea aperiri corrumpit eu,
          vero discere ex nam. Qui duis detraxit no, duo ex quod meliore oporteat.
           Quod decore explicari ei quo, cibo detracto est id, dicat propriae cum ex.
        </span>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
         DJ Samy Chelly
      </div>
      <div class="item item-image">
          <img src="http://placehold.it/600X250" alt="img event">
      </div>
      <div class="list">
        <span class="item">
          <i class="icon ion-ios-location"></i>
            Sindbad Hotel
        </span>
        <span class="item">
          <i class="icon ion-ios-calendar"></i>
          18 Juillet 2015
        </span>
        <span class="item item-body">
          Cu est fierent assentior liberavisse.
          Vituperata assueverit in mel. Sea aperiri corrumpit eu,
          vero discere ex nam. Qui duis detraxit no, duo ex quod meliore oporteat.
           Quod decore explicari ei quo, cibo detracto est id, dicat propriae cum ex.
        </span>
      </div>
    </div>
  </div>
</ion-content>
</ion-view>
